@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@import java.util
@import views.html.helper.select
@import views.html.helper.form
@(emailForm: Form[String],favList: List[FavouriteItem], recentCrawlerTime: String)(implicit request: RequestHeader, messagesProvider: MessagesProvider)


<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container">
            <p class="row" style="margin-top: 3%">Latest Crawler happens at : @recentCrawlerTime</p>
            <div class="row">
                <a class="btn btn-primary col" href="/most-popular-discount-list"><p>Search Most Popular Discount</p></a>
                <a class="btn btn-warning col" href="/sort-product-price"><p>Sort Product Discounted Price</p></a>
                <a class="btn btn-info col" href="/discount-stats"><p>Discount Info Stats</p></a>
            </div>

            <div class="row" style="margin-bottom: 3%"></div>

            @if(favList!=null){

                <p class="row">Wish List :</p>

                <div class="row" style="margin-bottom: 3%">
                @helper.form(action = routes.HomeController.sendEmail()) {
                    <div class="select_bar">
                        @helper.inputText(emailForm("email"))
                        <input class="mostPopularButton btn btn-primary" type="submit" value="Send Email" onclick="alert('Email has been successfully sent')">
                    </div>
                }
                </div>

                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Discount Infomation</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(fav <- favList) {
                            <tr>
                                <td>@fav.item</td>
                                <td>Price Have Been Discounted To @fav.price</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </body>
</html>